[package]
name = "batis4sqlx-macros"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
quote = "1"
proc-macro2 = "1"
syn = { version = "2.0.106", features = ["full", "parsing", "extra-traits"] }
